<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

	<Appenders>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout
				pattern="[%-5level] %d{ISO8601} [%t] %50.50logger{1.} - %msg%n" />
		</Console>
	</Appenders>

	<Loggers>
		<Root level="info">
			<AppenderRef ref="CONSOLE" />
		</Root>
		<Logger name="redis.clients" level="debug" />
	</Loggers>
</Configuration>
