<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT" >
            <PatternLayout pattern="[%-5level] %d{ISO8601} [%t] %30logger{1.} - %msg%xEx{filters(java.lang.reflect,sun.reflect,org.junit.internal.runners,org.junit.runners,org.apache.maven.surefire)}%n" />
        </Console>
    </Appenders>

    <Loggers>
        <Logger name="redis.clients" level="debug" />
        <Root level="info" >
            <AppenderRef ref="CONSOLE" />
        </Root>
    </Loggers>

</Configuration>
